<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
    <!--     제이쿼리      -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:inline="javascript">
        // username 받아오기
        /*<![CDATA[*/
        let loginUsername = [[${loginUsername}]];
        /*]]*/

        // 페이지 로드되자마자 실행
        $(document).ready(function () {
            userCheck();
        })

        function userCheck() {
            if (loginUsername != null) {
                alert("이미 로그인이 되어있습니다.");
                window.location.href="/";
            }
        }
    </script>
</head>
<body>
<div id="login-form">
    <div id="login-title">회원가입</div>

    <form action="/user/signup" method="post">
        <p><span th:style="${'color: red;'}" th:text="${errorMessage}"></span></p>
        <div class="login-id-label">아이디</div>
        <input type="text" name="username" placeholder="아이디를 입력해주세요" class="login-input-box">

        <div class="login-id-label">비밀번호</div>
        <input type="password" name="password" placeholder="비밀번호를 입력해주세요" class="login-input-box">

        <div class="login-id-label">비밀번호 확인</div>
        <input type="password" name="repassword" placeholder="비밀번호를 다시 입력해주세요" class="login-input-box">

        <button id="login-id-submit">회원 가입</button>
    </form>
</div>
</body>
</html>